.table {
  width: 100%;
  text-align: center;
  border-collapse:collapse;
  border: none;
  border: 2px solid $primary-color;

  &__head {
    background-color: $primary-color;

    &-row {
      color: $white-color;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  &__body {

    &-row {
      font-size: 2rem;
      border: 1px solid $primary-color;
    }

    .pointer {
      cursor: pointer;
    }
  }

}